  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a id="logo" href="/"><i class="fas fa-earth-africa"></i></a>
    <a href="/twins">Twins Overview</a>
    <% if (user) { %>
      <a href="/twins/mytwins">My Babies</a>
      <a href="/eats/new"><img class="nv" src="/images/bottle.png"></a>
      <a href="/sleeps/new"><img class="nv" src="/images/crib.png"></a>
      <a href="/poops/new"><img class="nv" src="/images/diaper.png"></a>
      <a href="/profiles/<%= user.profile._id %>">My profile</a>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
