<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="main-title">
  <a href="/profiles/"><img class="ducklogo" src="/images/duck.png"></a>
  <h1 class="main-h1">Eat | Sleep | Poop</h1>
  <% if (user) { %> 
    <div class="main-button-container">
      <a href="/twins/new" class="btn btn-primary btn-lg">Add Baby</a>
      <a href="/eats/new" class="btn btn-primary btn-lg">Log a Feeding</a>
      <a href="/sleeps/new" class="btn btn-primary btn-lg">Log a Nap</a>
      <a href="/poops/new" class="btn btn-primary btn-lg">Log a Poop</a>
      <a href="/twins/" class="btn btn-primary btn-lg">Overview</a>
      <a href="/eats/" class="btn btn-primary btn-lg">View Feedings</a>
      <a href="/sleeps/" class="btn btn-primary btn-lg">View Naps</a>
      <a href="/poops/" class="btn btn-primary btn-lg">View Diapers</a>
    </div>

   <% } else { %> 
    <h2>You can browse all the twins and Space Objects available<br> or sign in to create your own</h2>
    <% } %> 
</main>

<%- include('./partials/footer') %>
