<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="main-title">
  <h1 class="main-h1">Welcome to "Create your twin!"</h1>
  <% if (user) { %> 
    <div class="main-button-container">
      <a href="/twins/new" class="btn btn-primary btn-lg">Create twin</a>
      <a href="/eats/new" class="btn btn-primary btn-lg">Log a Feeding</a>
      <a href="/sleeps/new" class="btn btn-primary btn-lg">Log a Nap</a>
      <a href="/poops/new" class="btn btn-primary btn-lg">Log a Poop</a>
    </div>
   <% } else { %> 
    <h2>You can browse all the twins and Space Objects available<br> or sign in to create your own</h2>
    <% } %> 
</main>

<%- include('./partials/footer') %>
