<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1 class="title"><%= title %></h1>
  <form class="new-item" action="/twins/mytwins" method="POST" autocomplete="off">
    <label>Name (required): 
      <input type="text" name="name" placeholder="Any name">
    </label><br>
    <label>Image URL:
      <input type="text" name="imgUrl" placeholder="https://...">
    </label><br>
    <button class="btn btn-primary btn-lg" type="submit">Save Twin</button>
    <p>* Leave "Image URL" field blank if you want default picture to be applied</p>
  </form>
  </main>

<%- include('../partials/footer') %>