<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1 class="title" ><%= title %></h1>
  <form class="new-item" action="/poop/show" method="POST" autocomplete="off">
    <label>Date: 
      <input type="text" name="date" placeholder="...">
    </label><br>
    <label>Type: 
      <select name="type">
        <option value="Wet" selected>Bottle</option>
        <option value="Dirty">Breast</option>
      </select>
    </label><br>
    <label>Note: 
      <input type="text" name="note" placeholder="...">
    </label><br>
    <label>Share: 
    <input type="checkbox" name="shared" checked
    />
  </label><br>
    <button class="btn btn-primary btn-lg" type="submit">Crpoope Object</button>
    <p>* Leave "Image URL" field blank if you want default picture to be applied</p>
    <p>* "Size" represents your Object's diameter in miles</p>
    <p>*Check "Share" if you allow other people to add your Object to their twins</p>
  </form>

  </main>

<%- include('../partials/footer') %>